<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, intial-sacel=1.0, maximum-scale=1.0, user-scaleble=no" />
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="applw-mobile-web-app-capable" content="yes">
    <meta name="apple-t'ouch-fullscrean" content="yes">
    <meta name="apple-mobile-web-app-satatus-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
</head>
<body>
<div>
    <p>SEMOGA ANDA NENIKMATI PENGALAMAN BROWSING DI SINI</p>
</div>
</body>
</html>